body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    max-height: 100vh;}


main {
    background-color: rgb(192, 235, 233);
    padding: 10px;}

main.page1{
    display: grid;
    grid-template-areas:
        'main_content main_content photo photo'
        'main_content main_content photo photo'
        'picture picture video video';
}
main.page1>div {
    padding: 20px;}

.item1 {
    grid-area: main_content;
    text-align: left;}

.item2 {
    grid-area: photo;}

.item3 {
    grid-area: picture;
    place-self: center;}

.item4 {
    grid-area: video;
    display: grid;
    place-items: center;
}



@media (max-width: 1500px) {
    main.page1 {
        grid-template-areas:
            'main_content photo'
            'main_content video'
            'picture picture';
    }}


@media (max-width: 900px) {
    main.page1 {
        grid-template-areas: 
            'photo'
            'main_content'
            'picture'
            'video';
        text-align: left;
    }}

main.page2{
    display: grid;
    grid-template-areas:
        'main_content main_content'
}

main.page2>div {
    padding: 20px;
}

.item1 {
    grid-area: main_content;
    text-align: left;
}

main.page3{
    display: grid;
    grid-template-areas:
        'sidebar contact_info'; }

main.page3>div {
    padding: 20px;}

.sidebar {
    grid-area: sidebar;
    text-align: left;}

.contact_info {
    grid-area: contact_info;
    text-align: left;
}




header {
  color: black;
  background-color: lightseagreen;
  padding: 10px;}
  
.title {
  padding-left: 20px;
  text-align: left;
}
.rmitlogo {
  width: 150px;
  height: auto;
  float: right;
  padding-top: 18px;
  padding-right: 20px;}

.navbar{
    background-color: teal;  
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
.navbar li {
    float: left;
    width: 33.33%;}
    
.navbar li a {
    display: block; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
.navbar li a:hover {
    background-color: rgb(192, 235, 233)}

@media screen and (max-width: 900px) {
  .navbar li {float: none; width: 100%;}
  
}

.video {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

.video iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    border: 2px solid lightseagreen;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
  
}

.gallery-item {
    margin: 5px;
    width: 25%;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border: 2px solid lightseagreen;
}

.photo {
    position: relative;
    max-width: 700px;
}

.photo img {
    width: 100%;
    height: auto;
    border: 2px solid lightseagreen;
}

.photo .desc {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    background-color: black;
    opacity: 0.7;
    padding: 5px;
}

.textfield{
  width: 500px;
  height: 200px;}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;}

.contact-button {
    flex: 1 1 10px;
    margin: 5px;
    width: 100%;
}

.contact-button img {
    width: 100%;
    height: auto;}

footer {
  background-color: lightseagreen;
  color: black;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  clear: both;}


